div.sd-card {
    background-image: linear-gradient(0deg, var(--pst-gradient-sidebar-left) 0%, var(--pst-gradient-sidebar-right) 100%);
}

/* match docs footer colour to the header */
footer.bd-footer {
    background-color: var(--pst-color-on-background);
}

/*
 we're not currently doing anything meaningful with the
 right toc, so hide until there's something to put there
 */
div.bd-sidebar-secondary {
    display: none;
}

label.sidebar-toggle.secondary-toggle {
    display: none !important;
}

/* fix visited link colour */
a:visited {
    color: var(--pst-color-link);
}

/* fix ugly navbar scrollbar display */
.sidebar-primary-items__end {
    margin: 0 !important;
}

/* give code examples the same faint drop-shadow as admonitions */
pre {
    box-shadow: 0 .2rem .5rem var(--pst-color-shadow), 0 0 .0625rem var(--pst-color-shadow) !important;
}
